<ion-header>
  <ion-toolbar>
    <ion-title>filePreview</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="send()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let preview of previews">
    <ion-icon slot="statrt" name="{{getIcon(preview.type)}}" color="{{getIconColor(preview.type)}}">
      <ion-label>
        <h2>
          {{preview.name}}
        </h2>
        <p>
          {{byteToSize(preview.size)}}
        </p>
      </ion-label>
    </ion-icon>
  </ion-item>

</ion-content>
